# .gitignore

# Python
*.pyc
__pycache__/

# Django
*.log
*.pot
*.pyo
db.sqlite3
media/
static/
.idea/
0001_initial.py
__init__.py
**/migrations/

# Environment variables
.env
.env.*

# Virtual environment
venv/
env/
